body {
  
  font-family: sans-serif;
  
  margin: 0;
  padding: 0;

}
nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}


.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: #03a9f4;
}
.buscador i {
  width: 100%;
}
.error {
  padding: 1rem!important;
  color:white;
  margin-top: 3rem;
  text-align: center;
}
.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}
.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}
.temperatura {
  font-size: 4rem!important
}
.temperatura span {
  font-size: 2rem!important;
  vertical-align: super;
}
.btn-block {
  display: block!important;
}